<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="rabbitUri" value="amqp://guest:guest@localhost:5672"/>
    <add key="rabbitQueue" value="demo-queue"/>
    <add key="notifyUri" value="http://localhost:8132/Home/NotifyUser?hash="/>
    <add key="CMDEXE" value="cmd.exe"/>
    <add key="OutputPath" value="G:\\output"/>
    <add key="GitExePath" value="C:\\Program Files\\Git\\cmd\\git.exe"/>
    <add key="WorkingDirectory" value="G:\\ASAI\\REPO\\GIT\\Legacy\\ambs-tab"/>
    <add key="GitPullCommand" value="pull origin "/>
   
   
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>